body {
  /* background: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-144365.jpg)  no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  /* display: grid; */
  align-items: center;
  justify-content: center;
  height: 100%;

  background: #41295a;
  background: -webkit-linear-gradient(to right, #2f0743, #41295a);
  background: linear-gradient(to right, #2f0743, #41295a);
  background-image: linear-gradient(
    107deg,
    rgba(9, 0, 53, 1) 28.5%,
    rgba(83, 81, 162, 1) 81.4%
  );
}
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #6552b8; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 176); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white;
  border-radius: 10px; /* creates padding around scroll thumb */
}

.container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  /* overflow : auto; */
}

.list {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  justify-content: space-between;
  list-style: none;
  margin: 5px;
  height: 7vh;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.response {
  font-size: larger;
}

/* ProgressBar.css */
@keyframes fillProgress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.progressBar {
  border-radius: 10px;
  width: 99%;
  border: groove white;
  overflow: hidden;
  margin: auto;
  bottom: 0;
}

.progress {
  border-radius: 8px;
  width: 0;
  height: 8px;
  background-color: #fa1e4e;
  animation: fillProgress 40s linear forwards;
}

/* .Question{
  background-color: white;
  color:black;
} */

.form {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.list .delete {
  display: none;
}

.list:hover .delete {
  display: block;
}




.selected-title {
  background-color: #659aa4; /* Example highlighting color */
  color: white;
  /* Add any other styling you want for the highlighted title */
}

pre {
  display: block;
  padding: 10px;
  color: white;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  white-space: pre;
  overflow-x: auto;
}

